{% load static %}
<!-- Jquery Core Js -->
<script src="{% static 'backend/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap Core Js -->
<script src="{% static 'backend/plugins/bootstrap/js/bootstrap.js' %}"></script>
<!-- Select Plugin Js -->
<script src="{% static 'backend/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>
<!-- Slimscroll Plugin Js -->
<script src="{% static 'backend/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- Jquery Validation Plugin Css -->
<script src="{% static 'backend/plugins/jquery-validation/jquery.validate.js' %}"></script>
<!-- Waves Effect Plugin Js -->
<script src="{% static 'backend/plugins/node-waves/waves.js' %}"></script>
<!-- Jquery DataTable Plugin Js -->
<script src="{% static 'backend/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'backend/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'backend/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<!-- Jquery CountTo Plugin Js -->
<script src="{% static 'backend/plugins/jquery-countto/jquery.countTo.js' %}"></script>
<!-- Multi Select Plugin Js -->
<script src="{% static 'backend/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
<!-- Sparkline Chart Plugin Js -->
<script src="{% static 'backend/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>
<!-- Custom Js -->
<script src="{% static 'backend/js/admin.js' %}"></script>

<script src="{% static 'backend/js/pages/tables/jquery-datatable.js' %}"></script>
<script src="{% static 'backend/js/helpers.js' %}"></script>
<script src="{% static 'backend/js/pages/widgets/infobox/infobox-5.js' %}"></script>

<script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('description');
</script>

</body>

</html>