{% extends 'admin_base.html' %}

{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Cases</h2>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <a href="{% url 'add_category' %}" class="btn btn-info btn-lg m-l-10 waves-effect d-inline-block">+ADD
                CATEGORY</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Basic Examples -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>
            Manage Cases
          </h2>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
              <thead>
                <tr>
                  <th>Category Name</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for category in categories %}
                <tr id="">
                  <td>{{ category.category_name }}</td>
                  <td> {% if category.status == "0" %} Active {% else %} Inactive {% endif %}</td>
                  <td><a href="/category/edit_category/{{ category.id }}">Edit</a> | <a
                      href="/category/delete_category/{{ category.id}}">delete</a></td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #END# Basic Examples -->
  </div>
</section>
{% endblock %}